
body{
    background-color: #393E46;
    color: #EEEEEE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

header{
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    gap:3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: x-large;
    
}

.section2{
    background-color: #222831;
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   gap: 1vh;
   flex-flow: wrap;
}

#mainimg{
    max-width: 75vh;
    border-radius: 1rem;
}

.leftofimage{
    flex: 3 3 0;
    padding: 10vw;
}

.bigimage{
    display: flex;
    flex-flow: column;
    flex: 1 1 75vh;
    padding-right: 5vw;
}

#titleOfPhotos{
    text-align: center;
}

.section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3vw;
    text-align: center;
    margin: 10vh;
}




.section4{
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    flex: 1 1 30vh;
    padding: 10vw;
    
}


.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.section5{
    display: flex;
    justify-content: center;
    background-color: #393E46;
    padding: 3vh 5vw 3vh 5vw; 
    
}

.form{
    background-color: #222831;
    padding: 2vh;
    border-radius: 3rem; 
    display: flex;
    flex-flow: wrap;
    gap: 3vw;
    margin: 8vh 13vw 8vh 13vw;

}

.left5{
    flex: 1 1 0;
    padding-left: 5vw;
}

.right5{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blueButton{
    background-color: #00ADB5;
    font-size: xx-large;
    color: #EEEEEE;
    border-radius: 1rem; 
    border: 1PX solid white;
    padding: 1vh 3vw 1vh 3vw;
}

#blueButton:hover{
    background-color: #00c5cf;
    border: 2PX solid white;
    transition-duration: 0.2s;
    cursor: pointer;

}

#blueButton:active{
    background-color: #004246;
    border: 3PX solid #00c5cf;
}


footer{
    background-color: #00ADB5;
    display: flex;
    justify-content: center;
    
}

ul{
    list-style: none;
    display: flex;
    gap: 2vw;
}

li{
    padding: 1rem;
}


.links
{
    text-decoration: none;
    color: #EEEEEE;
    padding: 0.5em;
    border-radius: 25px;
}

.links:hover{
    color: #222831;
    transition-duration: 2s;
    background-color: #00ADB5;
    cursor: pointer;
}


#footlink{
    text-decoration: none;
    color: #EEEEEE;
    padding: 0.5em;
    border-radius: 25px; 
}

#footlink:hover{
    color: #00ADB5;
    transition-duration: 2s;
    background-color: #222831;
    cursor: pointer;
}

a{
    color: #EEEEEE;
    text-decoration: none;
}

#imageButton{
    background-color: #00ADB5;
    border: 2PX solid white;
    padding: 1rem 2rem 1rem 2rem;
    font-size: larger;
    border-radius: 25px; 
    color: #EEEEEE;
}

#imageButton:hover{
    background-color: #00c5cf;
    transition-duration: 2s;
    cursor: pointer;    
}

#imageButton:active{
    background-color: #004246;
    transition-duration: 0s;
}